@import "../../styles/variables.scss";

.banner {
  margin: 0 auto;
  text-align: center;
  .svgWrapper {
    padding: 2rem 0;
    color: #71eeb8;
    // border-radius: 50%;
    // background-color: red;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 1rem;
  }
}
