// Backgrounds
$bgPrimary: #36393f;
$bgSecondary: #23272a;
$bgAccent: #4f545c;
$bgNav: #202225;

// Fonts
$fontPrimary: #dcddde;
// $fontPrimary: #99aab5;

$fontStylePrimary: "Montserrat", sans-serif;

// Sizing
$contentWidth: 960px;
