@import "../../styles/variables.scss";

.card {
    display: flex;
    flex-flow: row;
    background-color: $bgAccent;
    border-bottom: $bgPrimary 1rem solid;
    padding: 1rem;
    .imgWrapper {
        border-radius: 3%;
    }
    .textPreview {
        margin-left: 1rem;
        a {
            text-decoration: none;
        }
        h2 {
            font-size: 3rem;
        }
    }
}
