header {
  display: flex;
  justify-content: space-between;

  border-bottom: 0.5rem seagreen solid;

  h1 {
    font-size: 1.6rem;
    margin: 0;
    a {
      text-decoration: none;
    }
  }

  nav {
    width: 50%;
    ul {
      margin: 0;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      li {
        list-style: none;
        a {
          text-decoration: none;
        }
      }
    }
  }
}

.link {
  font-size: 1.6rem;
}
